<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <div class="fadeIn first">
      <img
        src="../../assets/iconUser.png"
        id="icon" alt="User Icon" />
    </div>

    <form>
      <input type="text" id="login" class="fadeIn second input-login" placeholder="Email">
      <input type="password" id="password" class="fadeIn third input-login" placeholder="Senha">
      <input type="submit" class="fadeIn fourth" (click)="login()">
    </form>
    <a class="underlineHover" href="#">Esqueceu sua senha?</a>
    <div id="formFooter">
      <button type="button" class="btn btn-light"><i class="fa fa-facebook-official" aria-hidden="true"></i>&nbsp;Entrar com Facebook</button><br>
    </div>

  </div>
</div>